body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: rgb(255, 255, 255);
  background: #000000;
  
}

header {
  background: rgb(158, 0, 87);
  display: flex;
  justify-content: center;
  
  
}

h1 {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 12px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-align: center;
 
}

h2 {
  font-size: 24px;
  font-style: oblique;
  text-align: center;
  display: flex;
  justify-content: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1024px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}


#bio-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  

}

#main-bio {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.container p {
  display: flex;
  justify-content: center;
}
  
#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-left: 250px;

}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
#main-bio, #bio-image {
  float: none;
  width: 100%;
}


}
